<div class='row'>
  <div class='column'>
    <h1 class='title'>Die Chassi wurde nicht gefunden</h1>
    <p class = 'sub'>evtl. eine <%= link_to 'detallierte Suche', competitor_cars_search_detailed_path %>?</p>
  </div>  
</div>