<h1 class="title">Sie haben das Backup erfolgreich erstellt.</h1>

<p>Hiermit bestaetigen wir Ihnen, dass ihr Backup erfolgreich ausgefuehrt wurde, siehe angehangene Datei (anbei das Backup File).</p>  
<p>Somit koennen ihre Daten im Falle eines Verlustes wiederhergestellt werden.</p>

<p>Bitte Denken Sie daran regelmaessig Backups auszufuehren, da die Daten im Falle des Schadens endgueltig verloren gehen koennen.</p>

<p>Vielen Dank und Beste Gruesse</p>

<p>Ihr Application-GermanCars Team</p>

