<div class='row'>
  <div class='small-12 medium-6 columns'>
    GermanCars
    Am Fronhof 10
    53175 Bonn
    Tel: 0228 / 368 16 314
  </div>
  <div class='small-12 medium-6 columns'>
    <p class='text-right'>Copyright © GermanCars, 2016</p>
  </div>  
</div>    