<%# add navigation links to this file %>
<li class='Neue Verk채ufe'><%= link_to 'Neue Verk채ufe', new_order_car_path %></li>
<li class='Konkurrenz K채ufe'><%= link_to 'Konkurrenz K채ufe' %></li>
<li class='Kunden'><%= link_to 'Kunden', customers_path %></li>
<li class='Fahrzeugmuster'><%= link_to 'Fahrzeugmuster', car_templates_path %></li>
