<%# add navigation links to this file %>
<li class='Neue Verkäufe'><%= link_to 'Neue Verkäufe', new_order_car_path %></li>
<li class='Kunden'><%= link_to 'Kunden', customers_path %></li>
<li class='Fahrzeugmuster'><%= link_to 'Fahrzeugmuster', car_templates_path %></li>
<li class='Fahrzeugmuster'><%= link_to 'Backup', backup_path %></li>
